In [5]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('../data/data.csv')

In [7]:
df.head()

,user_id,username,age,status,sex,orientation,drinks,drugs,height,job,...,smokes,language,new_languages,body_profile,education_level,dropped_out,bio,interests,other_interests,location_preference
0,fffe3100,Edith Lopez,27,single,f,gay,socially,never,66.0,medicine / health,...,no,"english (fluently), spanish (poorly), sign lan...",interested,athletic,4.0,no,bottom line i love life! i work hard and i lov...,sports,instruments,same state
1,fffe3200,Travis Young,26,single,m,gay,socially,never,68.0,other,...,no,"english (fluently), tagalog (okay), french (po...",interested,fit,3.0,no,"i'm a straightforward, genuine, fun loving (i'...",painting,instruments,anywhere
2,fffe3300,Agnes Smith,20,seeing someone,f,bisexual,socially,sometimes,69.0,other,...,sometimes,"english (fluently), sign language (poorly), fr...",interested,fit,2.0,no,mmmmm yummy tacosss. yoga is where it's at. i ...,instruments,dancing,same city
3,fffe3400,Salvador Klaver,27,single,m,bisexual,socially,sometimes,68.0,computer / hardware / software,...,no,english,not interested,average,3.0,no,i'm a stealth geek. that special mix of techni...,sketching,acting,same city
4,fffe3500,Elana Sewell,22,single,f,bisexual,often,sometimes,68.0,other,...,yes,english,not interested,average,2.0,yes,with the whisper of the wind i was weaved into...,craft,designing,same city

In [8]:
df.columns

Index(['user_id', 'username', 'age', 'status', 'sex', 'orientation', 'drinks',
       'drugs', 'height', 'job', 'location', 'pets', 'smokes', 'language',
       'new_languages', 'body_profile', 'education_level', 'dropped_out',
       'bio', 'interests', 'other_interests', 'location_preference'],
      dtype='object')

In [9]:
# Bifurcating dataset into different datasets as per their use

# to concat it to match matrix
user_id = pd.DataFrame(df['user_id']) 

# vectorising bio seperately
bio = pd.DataFrame(df['bio']) 

# to perform one hot encoding
lang = pd.DataFrame(df['language']) 

# no need to preprocess these features
data = df[['sex','orientation','age','height','education_level']] 

# remaining feature to preprocess
df = df.drop(['user_id','username','age','height','sex','orientation','education_level','bio','language'],axis=1)

In [10]:
# Determine shape of df

df.shape

(2001, 13)

In [11]:
# Lebel Encoding features of df

from sklearn.preprocessing import LabelEncoder
for col in df.columns:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
df.head()

,status,drinks,drugs,job,location,pets,smokes,new_languages,body_profile,dropped_out,interests,other_interests,location_preference
0,3,4,0,10,40,14,0,0,1,0,25,13,2
1,3,4,0,12,47,11,0,0,4,0,18,13,0
2,2,4,2,12,40,9,1,0,4,0,13,7,1
3,3,4,2,3,14,14,0,1,2,0,23,0,1
4,3,2,2,12,40,14,4,1,2,1,6,8,1

In [12]:
# Concating df to data's numerical features

df = pd.concat((data.drop(['sex','orientation'],axis=1),df),axis=1)
df.shape

(2001, 16)

In [13]:
# Check total number of unique values in language feature

lan = []
for i in range(len(lang)):
    lan.extend(lang.language[i].split(', '))
lan = set(lan)
len(lan)

164

In [14]:
# One hot encoding language feature
# split the value in each rw by ', ' and mark the value as one if j is present in the row

lang_dict = {}
for i in lan:
    l = []
    for j in lang.language:
        if i in j.split(', '):
            l.append(1)
        else:
            l.append(0)
    lang_dict[i]=l
lan = pd.DataFrame(lang_dict)

# Concate the lan (language) dataframe with df
df = pd.concat((df,lan),axis=1)
df.shape

(2001, 180)

In [15]:
df.head()

,age,height,education_level,status,drinks,drugs,job,location,pets,smokes,...,swedish (okay),spanish (fluently),german (fluently),afrikaans (fluently),latin,arabic (poorly),finnish (poorly),sign language (okay),dutch (fluently),irish (fluently)
0,27,66.0,4.0,3,4,0,10,40,14,0,...,0,0,0,0,0,0,0,0,0,0
1,26,68.0,3.0,3,4,0,12,47,11,0,...,0,0,0,0,0,0,0,0,0,0
2,20,69.0,2.0,2,4,2,12,40,9,1,...,0,0,0,0,0,0,0,0,0,0
3,27,68.0,3.0,3,4,2,3,14,14,0,...,0,0,0,0,0,0,0,0,0,0
4,22,68.0,2.0,3,2,2,12,40,14,4,...,0,0,0,0,0,0,0,0,0,0

In [16]:
lan.head()

,russian (poorly),french (poorly),chinese,hebrew,italian,malay (poorly),korean (fluently),norwegian (okay),latin (okay),czech (okay),...,swedish (okay),spanish (fluently),german (fluently),afrikaans (fluently),latin,arabic (poorly),finnish (poorly),sign language (okay),dutch (fluently),irish (fluently)
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
orientation = data[['sex','orientation']]
del(data)
orientation.head()

  sex orientation
0   f         gay
1   m         gay
2   f    bisexual
3   m    bisexual
4   f    bisexual

In [18]:
# Saving the preprocessed data as csv file
df.to_csv('../data/features.csv', index=False)

In [19]:
# Saving features in csv files to use in future as per requirement to avoid memory allocation to unnecessary features
user_id.to_csv('../data/id.csv', index=False)
bio.to_csv('../data/bios.csv', index=False)
orientation.to_csv('../data/preference.csv', index=False)